# {{ ansible_managed }}

[Unit]
Description="cinder-migrate"
Requires=network-online.target

After=network-online.target

ConditionFileNotEmpty=/etc/cinder/cinder.conf

[Service]
Type=oneshot
RemainAfterExit=no

User=cinder
Group=cinder

ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes

ExecStart=/usr/local/bin/cinder-migrate

[Install]
WantedBy=multi-user.target
