# {{ ansible_managed }}

[Unit]
Description="cinder-migrate"

[Timer]
OnBootSec=5min
OnUnitActiveSec=24h
Unit=cinder-migrate.service

[Install]
WantedBy=multi-user.target
