# {{ ansible_managed }}

[Unit]
Description="Generate Step CA certificates for vault proxy"

Requires=network-online.target

Wants=application-hostname.service

After=application-hostname.service network-online.target
ConditionFileNotEmpty=!/opt/vault/tls/vault.crt

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/step ca certificate ${HOSTNAME} /opt/vault/tls/vault.crt /opt/vault/tls/vault.key --ca-url {{ step_ra_acme_url }} --root /usr/local/share/ca-certificates/smallstep-homelab-prod.crt
ExecStart=/usr/bin/chown vault:vault /opt/vault/tls/vault.crt /opt/vault/tls/vault.key
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
