# {{ ansible_managed }}

[Unit]
Description="keystone-migrate"

[Timer]
OnBootSec=5min
OnUnitActiveSec=24h
Unit=keystone-migrate.service

[Install]
WantedBy=multi-user.target
