# {{ ansible_managed }}

[Unit]
Description="keystone-project-users-token"

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=keystone-project-users-token.service

[Install]
WantedBy=multi-user.target
