# {{ ansible_managed }}

[Unit]
Description="keystone-bootstrap"
Requires=network-online.target

After=network-online.target

ConditionFileNotEmpty=/etc/keystone/keystone.conf

Wants=keystone-migrate.service

After=keystone-migrate.service

[Service]
Type=oneshot
RemainAfterExit=no

User=keystone
Group=keystone

ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes

ExecStart=/usr/local/bin/keystone-bootstrap

[Install]
WantedBy=multi-user.target
