# {{ ansible_managed }}

[Unit]
Description="octavia-migrate"
Requires=network-online.target

After=network-online.target

ConditionFileNotEmpty=/etc/octavia/octavia.conf

[Service]
Type=oneshot
RemainAfterExit=no

User=octavia
Group=octavia

ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes

ExecStart=/usr/local/bin/octavia-migrate

[Install]
WantedBy=multi-user.target
