%% {{ ansible_managed }}
%%
[
  {server, [
    {cacertfile, "/etc/rabbitmq/rabbitmq-cluster-ca.crt"},
    {certfile,   "/etc/rabbitmq/rabbitmq-cluster-server.crt"},
    {keyfile,    "/etc/rabbitmq/rabbitmq-cluster-server.key"},
    {secure_renegotiate, true},
    {verify, verify_peer},
    {fail_if_no_peer_cert, true}
  ]},
  {client, [
    {cacertfile, "/usr/local/share/ca-certificates/smallstep-homelab-prod.crt"},
    {certfile,   "/etc/rabbitmq/rabbitmq-cluster-cli.crt"},
    {keyfile,    "/etc/rabbitmq/rabbitmq-cluster-cli.key"},
    {secure_renegotiate, true},
    {verify, verify_peer}
  ]}
].